@import url(https://fonts.googleapis.com/css?family=Lobster);
#filters-chart {
  color: #BBB;
  background-color: #242424;
  text-align: center;
  font-size: 2em;
  /* height: 100%; */
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 20px;
}

fieldset {
  border: #999 solid .2em;
	border-left: 6px solid rgb(33, 48, 61);
  border-right: 5px solid rgb(94, 69, 69);
  border-bottom: 6px solid rgb(46, 49, 54);
	border-top: 5px solid rgb(81, 80, 80);
  border-radius: .5em;
  display: inline-block;
  text-align: left;
  position: relative;
  -webkit-transition: border-color .25s linear;
  transition: border-color .25s linear;
}

fieldset:hover {
/* offset-x | offset-y | blur-radius | color */
/* Any number of shadows, separated by commas */
box-shadow: -12px 0px 10px rgb(33, 48, 61), 12px 0px 10px rgb(95, 70, 70), 0px -12px 10px rgb(81, 80, 80), 0px 12px 10px rgb(46, 49, 54);
}

legend {
  font-size: 1.13em;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  /* font-family: "Lobster", sans-serif; */
  color: #ACE;
  text-shadow: -.07em .05em 0 #214893, -.14em .1em 0 #313131;
}

/* Slider *
 * ====== */
/* ## Slider main element */
.chart-input {
  display: block;
  margin: 0;
  padding: 0;
  font-size: inherit;
  width: 9.9em;
  height: 1em;
  border-radius: .25em;
  border: 0.2em solid #242424;
  background-color: #242424;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow .2s linear;
  transition: -webkit-box-shadow .2s linear;
  transition: box-shadow .2s linear;
  transition: box-shadow .2s linear, -webkit-box-shadow .2s linear;
  -webkit-box-shadow: 0 0 0 0 transparent;
  box-shadow: 0 0 0 0 transparent;
}

.chart-input:focus {
  -webkit-box-shadow: 0 0 0 .1em  #AAAAAA;
  box-shadow: 0 0 0 .1em  #AAAAAA;
}

.chart-input:hover {
  -webkit-box-shadow: 0 0 0 .15em #6FC5F0;
  box-shadow: 0 0 0 .15em #6FC5F0;
}

/* ## Orientation tweak, with [orient] attribute in degrees */
/* > I know it's not standard, but that's the cleaner way I was thinking of. */
.chart-input {
  /* > Would be cool heh :-) : */
  -webkit-transform: rotate(attr(orient));
  transform: rotate(attr(orient));
}

.chart-label[type='range'][orient='180deg'] {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.chart-input[orient='270deg'] {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}

/* ### all vertical ranges : */
.chart-input[orient='90deg'], .chart-input[orient='270deg'] {
  margin: 4.5em -4.5em;
  display: inline-block;
}

.chart-input[orient='90deg']::-webkit-slider-thumb, .chart-input[orient='270deg']::-webkit-slider-thumb {
  cursor: ns-resize;
}

.chart-input[orient='90deg']::-moz-range-thumb, .chart-input[orient='270deg']::-moz-range-thumb {
  cursor: ns-resize;
}

.chart-input[orient='90deg']::-ms-thumb, .chart-input[orient='270deg']::-ms-thumb {
  cursor: ns-resize;
}

/* ## Slider components */
/* ### Slider::-track */
.chart-input::-webkit-slider-runnable-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.chart-input::-moz-range-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

.chart-input::-ms-track {
  border: none;
  background: none;
  height: 100%;
  width: 100%;
}

/* ### Slider::-thumb */
.chart-input::-webkit-slider-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  /* background-color: red; */
  -webkit-box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}

.chart-input::-moz-range-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}

.chart-input::-ms-thumb {
  margin: .05em;
  padding: 0;
  height: .9em;
  width: .9em;
  border-radius: .1em;
  box-sizing: border-box;
  border: none;
  background-color: #6FC5F0;
  box-shadow: -10em 0 0 0 #313131, -9em 0 0 0 #313131, -8em 0 0 0 #2F343F, -7em 0 0 0 #283F6B, -6em 0 0 0 #214893, -5em 0 0 0 #1A52BC, -4em 0 0 0 #2769D3, -3em 0 0 0 #3E87DC, -2em 0 0 0 #55A5E6, -1em 0 0 0 #6FC5F0, 1em 0 0 0 #181818, 2em 0 0 0 #181818, 3em 0 0 0 #181818, 4em 0 0 0 #181818, 5em 0 0 0 #181818, 6em 0 0 0 #181818, 7em 0 0 0 #181818, 8em 0 0 0 #181818, 9em 0 0 0 #181818;
  cursor: ew-resize;
}

/* ## Browser tweaks */
/* ### webkit */
.chart-input, .chart-input::-webkit-slider-runnable-track, .chart-input::-webkit-slider-thumb {
  -webkit-appearance: none;
}

/* ### IE */
.chart-input::-ms-track {
  color: transparent;
}

.chart-input::-ms-fill-lower, .chart-input::-ms-fill-upper, .chart-input::-ms-tooltip {
  display: none;
}

/* Label *
 * ====== */
/* ## Label main element */
.chart-label {
  display: block;
  position: relative;
  margin: 0;
  padding: 0;
  font-size: inherit;
  line-height: .6em;
  width: 9.9em;
  height: 1em;
  border-radius: .25em;
  color: #242424;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  border: .2em solid transparent;
  text-align: center;
  border-bottom-color: #242424;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#242424), to(#242424));
  background-image: linear-gradient(#242424 calc(50% - .1em), #242424 calc(50% + .1em));
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: .2em .2em;
  color: #999;
}

.chart-label:first-letter {
  font-size: .6em;
}

.chart-label::before, .chart-label::after {
  display: block;
  position: absolute;
  height: 1em;
  line-height: 1em;
  width: 1em;
}

.chart-label::before {
  content: attr(before);
  left: -.2em;
  text-align: left;
}

.chart-label::after {
  content: attr(after);
  top: 0;
  right: -.2em;
  text-align: right;
}

.chart-label[orient='90deg'], .chart-label[orient='270deg'] {
  border-bottom-color: transparent;
  display: inline-block;
  width: 1em;
  height: 10.1em;
  line-height: 10.1em;
  vertical-align: top;
}

.chart-label[orient='90deg'] {
  border-bottom-color: transparent;
  border-left-color: #242424;
  background-position: center left;
  text-align: center;
}

.chart-label[orient='90deg']::before {
  top: -.2em;
  bottom: auto;
  left: .1em;
}

.chart-label[orient='90deg']::after {
  left: .1em;
  top: auto;
  bottom: -.2em;
  right: 0;
  text-align: left;
}

.chart-label[orient='180deg'] {
  border-bottom-color: transparent;
  border-top-color: #242424;
  background-position: top center;
  line-height: 1.4em;
}

.chart-label[orient='180deg']::before {
  bottom: 0;
  left: auto;
  right: -.2em;
  text-align: right;
}

.chart-label[orient='180deg']::after {
  bottom: 0;
  left: -.2em;
  right: auto;
  text-align: left;
}

.chart-label[orient='270deg'] {
  border-bottom-color: transparent;
  border-right-color: #242424;
  background-position: center right;
  text-align: center;
}

.chart-label[orient='270deg']::before {
  bottom: -.2em;
  top: auto;
  right: .1em;
  left: auto;
  text-align: right;
}

.chart-label[orient='270deg']::after {
  right: .1em;
  bottom: auto;
  top: -.2em;
  left: auto;
  text-align: right;
}
/* tall switch for filters */
form, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --dur: 0.3s;
  --dur2: 0.15s;
  font-size: 16px;
}

.leverform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3em auto 0 auto;
  width: 18em;
  gap: 40px;
}

form > label {
  background-color: rgba(1, 141, 255, 0.99);
  background-image: radial-gradient(0.3em 0.25em at 50% 25%, white 25%, rgba(255, 255, 255, 0)), radial-gradient(0.25em 0.25em at 30% 75%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(0.3em 0.3em at 60% 80%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(100% 100%, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.3) 40%, rgba(0, 0, 0, 0.5) 50%);
  border-radius: 50%;
  -webkit-box-shadow: 0 0 0.5em rgba(0, 81, 255, 0.686), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5em rgba(0, 81, 255, 0.686), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
  display: inline-block;
  -webkit-transition: all var(--dur2) var(--dur2) linear;
  transition: all var(--dur2) var(--dur2) linear;
  width: 1.5em;
  height: 1.5em;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

form label:first-of-type {
  background-color: rgba(28, 154, 72, 0.369);
  -webkit-box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.3);
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

label span {
  display: inline-block;
  overflow: hidden;
  width: 0;
}

/* Lever */
.lever {
  background-image: radial-gradient(1em 1.5em at 50% 50%, #cccccc 25%, #aaaaaa 49%, rgba(170, 170, 170, 0) 50%), radial-gradient(0.65em 1em at 50% 53%, #444444, rgba(68, 68, 68, 0)), radial-gradient(0.75em 0.75em at 55% 45%, white, rgba(255, 255, 255, 0)), radial-gradient(0.5em 0.4em at 43% 56%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), radial-gradient(0.5em 0.4em at 55% 57%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), radial-gradient(0.5em 0.4em at 50% 60%, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)), radial-gradient(100% 100% at 50% 50%, #eeeeee, #aaaaaa 10%, black 18%, black 21%, #999999 21.5%, #999999 24%, rgba(153, 153, 153, 0) 24.5%, rgba(221, 221, 221, 0) 30%, #dddddd 30.5%, #dddddd 33%, #444444 33.5%, #444444 35%, rgba(68, 68, 68, 0) 35.5%, rgba(221, 221, 221, 0) 41%, #dddddd 41.5%, #eeeeee 45%, #444455 45.5%, #444455 49%, rgba(68, 68, 85, 0) 50%), radial-gradient(2em 2em at 35% 20%, white, rgba(255, 255, 255, 0) 2em), radial-gradient(2em 2em at 65% 80%, white, rgba(255, 255, 255, 0) 2em), radial-gradient(2em 2em at 80% 35%, white, rgba(255, 255, 255, 0) 2em), radial-gradient(2em 2em at 20% 65%, white, rgba(255, 255, 255, 0) 2em), radial-gradient(100% 100% at center, #aaaaaa 49%, rgba(170, 170, 170, 0) 50%);
  background-position: 0.5em 0, 0.5em 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
  border-radius: 50%;
  -webkit-box-shadow: 0 2em 2em rgba(0, 0, 0, 0.3);
          box-shadow: 0 2em 2em rgba(0, 0, 0, 0.3);
  cursor: pointer;
  font-size: 1em;
  display: block;
  outline: 0;
  position: relative;
  width: 8em;
  height: 8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-transition: background-position var(--dur) linear;
  transition: background-position var(--dur) linear;
}

.lever:before, .lever:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
}

.lever:before {
  -webkit-animation: leverAOff var(--dur) linear forwards;
          animation: leverAOff var(--dur) linear forwards;
  background: radial-gradient(35% 25% at 50% 25%, #888899 20%, rgba(136, 136, 153, 0)), radial-gradient(1em 0.75em at 32% 75%, #666666, rgba(102, 102, 102, 0)), radial-gradient(1em 0.75em at 65% 78%, #666666, rgba(102, 102, 102, 0)), radial-gradient(100% 100% at center, #444444 49.5%, rgba(68, 68, 68, 0) 50%);
  -webkit-box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
          box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  width: 4em;
  height: 4em;
  -webkit-transform: translate(100%, -50%);
          transform: translate(100%, -50%);
  z-index: 1;
}

.lever:checked {
  background-position: -0.5em 0, -0.5em 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0, 0 0;
}

.lever:checked:before {
  -webkit-animation: leverAOn var(--dur) linear forwards;
          animation: leverAOn var(--dur) linear forwards;
}

.lever:after {
  -webkit-animation: leverBOff var(--dur) linear forwards;
          animation: leverBOff var(--dur) linear forwards;
  background-color: #333333;
  border-radius: 15em;
  -webkit-box-shadow: 0 0 1em #667 inset;
          box-shadow: 0 0 1em #667 inset;
  width: 7.5em;
  height: 4em;
  -webkit-transform: translate(0.5em, -50%);
          transform: translate(0.5em, -50%);
}

.lever:checked:after {
  -webkit-animation: leverBOn var(--dur) linear forwards;
          animation: leverBOn var(--dur) linear forwards;
}

.lever:checked + label {
  background-color: rgba(30, 215, 96, 0.9);
  -webkit-box-shadow: 0 0 0.5em rgba(12, 221, 85, 0.75), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 0.5em rgba(12, 221, 85, 0.75), 0 0.25em 0.75em rgba(0, 0, 0, 0.3);
}

.lever:checked + label + label {
  background-color: rgba(30, 215, 96, 0.3);
  -webkit-box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.3);
          box-shadow: 0 0.5em 0.75em rgba(0, 0, 0, 0.3);
}

/* To stop animations from running on load */
.pristine:before, .pristine:after {
  -webkit-animation: none;
          animation: none;
}

@-webkit-keyframes leverAOn {
  from {
    -webkit-box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  50% {
    -webkit-box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
}

@keyframes leverAOn {
  from {
    -webkit-box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
  50% {
    -webkit-box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
}

@-webkit-keyframes leverAOff {
  from {
    -webkit-box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
  50% {
    -webkit-box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
}

@keyframes leverAOff {
  from {
    -webkit-box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 2em 4em 2em rgba(0, 0, 0, 0.3), 2em 5em 4em rgba(0, 0, 0, 0.2), 2em 7em 4em rgba(0, 0, 0, 0.2), 2em 9em 4em rgba(0, 0, 0, 0.2), 2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(-200%, -50%);
            transform: translate(-200%, -50%);
  }
  50% {
    -webkit-box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: 0 6em 2em rgba(0, 0, 0, 0.3), 0 5em 4em rgba(0, 0, 0, 0.2), 0 7em 4em rgba(0, 0, 0, 0.2), 0 9em 4em rgba(0, 0, 0, 0.2), 0 11em 4em rgba(0, 0, 0, 0.2);
  }
  to {
    -webkit-box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
            box-shadow: -2em 4em 2em rgba(0, 0, 0, 0.3), -2em 5em 4em rgba(0, 0, 0, 0.2), -2em 7em 4em rgba(0, 0, 0, 0.2), -2em 9em 4em rgba(0, 0, 0, 0.2), -2em 11em 4em rgba(0, 0, 0, 0.2);
    -webkit-transform: translate(100%, -50%);
            transform: translate(100%, -50%);
  }
}

@-webkit-keyframes leverBOn {
  from {
    width: 7.5em;
    -webkit-transform: translate(0.5em, -50%);
            transform: translate(0.5em, -50%);
  }
  50% {
    width: 4em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    width: 7.5em;
    -webkit-transform: translate(-8em, -50%);
            transform: translate(-8em, -50%);
  }
}

@keyframes leverBOn {
  from {
    width: 7.5em;
    -webkit-transform: translate(0.5em, -50%);
            transform: translate(0.5em, -50%);
  }
  50% {
    width: 4em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    width: 7.5em;
    -webkit-transform: translate(-8em, -50%);
            transform: translate(-8em, -50%);
  }
}

@-webkit-keyframes leverBOff {
  from {
    width: 7.5em;
    -webkit-transform: translate(-8em, -50%);
            transform: translate(-8em, -50%);
  }
  50% {
    width: 4em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    width: 7.5em;
    -webkit-transform: translate(0.5em, -50%);
            transform: translate(0.5em, -50%);
  }
}

@keyframes leverBOff {
  from {
    width: 7.5em;
    -webkit-transform: translate(-8em, -50%);
            transform: translate(-8em, -50%);
  }
  50% {
    width: 4em;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  to {
    width: 7.5em;
    -webkit-transform: translate(0.5em, -50%);
            transform: translate(0.5em, -50%);
  }
}

/* sliders */
.custom-slider {
  -webkit-appearance: none;
  width: 350px;
  height: 70px;
  background: linear-gradient(to right, rgba(1, 141, 255, 0.99) 0%, #9a2020 80%);
  background-position: center;
  border-radius: 4px;
  border: rgba(101, 101, 101, 0.857) solid;
  /* border-style: inset; */
	border-top: 6px solid rgb(46, 49, 54);
	border-left: 6px solid rgb(33, 48, 61);
	border-right: 5px solid rgb(112, 82, 82);
	border-bottom: 5px solid rgb(81, 80, 80);
  box-shadow: 0px 0px 20px 2px #563160;
  transform: rotate(270deg);
}

.custom-slider:first-of-type {
  margin-top: 80px;
  margin-bottom: 140px;
}

.custom-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 22px;
  height: 90px;
  background: #041a25;
  position: relative;
  z-index: 3;
  -webkit-box-shadow: 0 0 1px 3px rgba(2, 10, 244, 0.301);
          box-shadow: 0 0 1px 3px rgba(2, 10, 244, 0.301);
  cursor: pointer;
}

.custom-slider::-webkit-slider-thumb:after {
  content: " ";
  width: 160px;
  height: 10px;
  position: absolute;
  z-index: 1;
  top: 5px;
  background: -webkit-gradient(linear, left top, right top, color-stop(1%, #f088fc), color-stop(70%, #AC6CFF));
  background: linear-gradient(to right, #f088fc 1%, #AC6CFF 70%);
}

.custom-slider:disabled {
  background: #2d2d2d;
  box-shadow: none;
  border-top: 6px solid rgb(37, 37, 37);
	border-left: 6px solid rgb(37, 37, 37);
	border-right: 5px solid rgb(57, 57, 57);
	border-bottom: 5px solid rgb(50, 50, 50);
}


/* slider thumb not working for disabled^^ */
#instrumentalness {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

/* direction of slider */
.right-to-left-slider {
  direction: rtl;
}

body {
  background-color: #232323;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

h2, p {
  margin: auto;
  font-family: "Century Gothic", "Helvetica", sans-serif;
  font-size: 120px;
  text-align: center;
  color: #393838;
  text-shadow: 0.25px 1px 0.25px #828282, -0.75px -2px 1px black;
}

p {
  font-size: 42px;
  font-weight: bold;
  font-family: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', Roboto, Arial, Sans-serif;
}

button, input[type=text] {
  background-color: #9586af;
  color: black;
  font-size: 42px;
  font-family: "Courier New";
  border-radius: 6px;
  border-style: inset;
  border-width: 2px;
  border-color: #8b7f96;
  box-shadow: 0px 0px 20px 10px #8261aa;
  padding: 15px 25px 15px 25px;
  text-align: center;
  /* cursor: url('/images/musicalnotes.png'); */
}

button {
  cursor: pointer
}

button:active, input[type=text]:hover {
  background-color: #4694bb;
  border-color: #3f636f;
  /* -webkit-box-shadow: 0px 0px 6px 4px #214893; */
  box-shadow: 0px 0px 20px 10px #214893;
}

#filters-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#filters-section > div {
  /* min-height: 350px; */
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#filters-section > div > form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#song-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #6cbce4;
  width: 1000px;
  height: 333px;
  margin: auto;
  border-radius: 5px;
  border-style: inset;
  border-width: 1.5px;
  border-color: #3f636f;
  /* -webkit-box-shadow: 0px 0px 6px 4px #214893; */
          box-shadow: 0px 0px 80px 5px #2754a8;
}

#album-holder {
  height: 100%;
}

#album-cover {
  height: 333px;
  width: auto;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  margin-top: 4px;
}

#song-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

#song-text p {
  color: black;
  font-weight: normal;
  font-family: "Courier New";
  font-size: 28px;
  margin: 7px;
  text-shadow: none;
}

#song-controller-button-section section{
  margin: 90px
}

#feature-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: auto;
  margin-right: 24px
}

#feature-section div {
  margin: 50px;
}

#feature-section div p {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

audio {
  border-radius: 50px;
  border-style: inset;
  border-width: 1.5px;
  border-color: #3f636f;
  /* -webkit-box-shadow: 0px 0px 7px 4px #214893; */
  box-shadow: 0px 0px 20px 3px #2754a8;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

audio::-webkit-media-controls-panel {
  background: #6cbce4;
}

audio::-webkit-media-controls-current-time-display {
  color: #ffffff;
  font-family: "Courier New";
}

audio::-webkit-media-controls-time-remaining-display {
  font-family: "Courier New";
}
/*# sourceMappingURL=styles.css.map */